<!-- Generated template for the ChatGroupListComponent component -->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let group of groups" [hidden]="!(group.is_member|async)">
      <ion-avatar item-start>
        <img alt="" src="http://192.168.0.8/storage/{{group.photo_url}}">
      </ion-avatar>
      <h2>{{group.name}}</h2>
      <h3>
        <ng-container *ngIf="group.last_message|async as message">
          <span *ngIf="message.type === 'text'">
            {{message.user.name}} : {{formatTextMessage(message)}}
          </span>
          <span *ngIf="message.type === 'audio'">
            {{message.user.name}} : <ion-icon name="mic"> Audio
          </span>
          <span *ngIf="message.type === 'image'">
            {{message.user.name}} : <ion-icon name="images"> Image
          </span>
        </ng-container>
      </h3>
    </ion-item>
  </ion-list>
</ion-content>
