<div class="row">
  <h1>Listagem de Categorias</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <button (click)="categoryInsertService.showModalInsert()" class="btn btn-success">Nova Categoria</button>
      </td>
      <td colspan="4">
        <category-search-form (onSearch)="search($event)"></category-search-form>
      </td>
    </tr>
    <tr>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="id" style="width: 5%">Id</th>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="name" style="width: 65%">Nome</th>
      <th style="width: 10%">Ativa?</th>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="created_at" style="width: 10%">Criada em</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let category of categories | paginate: {itemsPerPage: 5, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{category.id}}</td>
      <td>{{category.name}}</td>
      <td><i class='fas' [ngClass]="{'fa-check' : category.active, 'fa-times': !category.active }"></i></td>
      <td>{{category.created_at.date | date: "dd/MM/yyyy"}}</td>
      <td><a (click)="categoryEditService.showModalEdit(category.id)" href="javascript:void(0)" title="Editar"><i
        class=" fas fa-edit"></i></a>
        |
        <a (click)="categoryDeleteService.showModalDelete(category.id)" href="javascript:void(0)" title="Excluir"><i
          class=" fas fa-trash-alt"></i></a></td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"
                       previousLabel="Anterior"
                       nextLabel="Próxima">
  </pagination-controls>
</div>
<category-new-modal (onSuccess)="categoryInsertService.onInsertSuccess($event)" (onError)="categoryInsertService.onInsertError($event)"></category-new-modal>
<category-edit-modal [categoryId]="categoryId"  (onSuccess)="categoryEditService.onEditSuccess($event)" (onError)="categoryEditService.onEditError($event)"></category-edit-modal>
<category-delete-modal [categoryId]="categoryId"  (onSuccess)="categoryDeleteService.onDeleteSuccess($event)" (onError)="categoryDeleteService.onDeleteError($event)"></category-delete-modal>
