<div [formGroup]="form" class="form-group">
  <label [for]="fieldOptions.name">{{fieldOptions.name.label}}</label>
  <input [id]="fieldOptions.name.id" [maxlength]="fieldOptions.name.validationMessage.maxLength" class="form-control"
         formControlName="name" isInvalid name="name"
         type="text">
  <field-error [field]="form.get('name')"
               [label]="fieldOptions.name.label"
               [messages]="fieldOptions.name.validationMessage"></field-error>
</div>
<div [formGroup]="form" class="form-group">
  <label [for]="fieldOptions.description">{{fieldOptions.description.label}}</label>
  <textarea [cols]="fieldOptions.description.validationMessage.cols" [id]="fieldOptions.description.id"
            [rows]="fieldOptions.description.validationMessage.rows" class="form-control"
            formControlName="description"
            isInvalid name="description" type="text"
  ></textarea>
  <field-error [field]="form.get('description')"
               [label]="fieldOptions.description.label"
               [messages]="fieldOptions.description.validationMessage"></field-error>
</div>
<div [formGroup]="form" class="form-group">
  <label [for]="fieldOptions.price">{{fieldOptions.price.label}}</label>
  <input [id]="fieldOptions.price.id" [min]="fieldOptions.price.validationMessage.min" class="form-control"
         formControlName="price" isInvalid name="price"
         type="number">

  <field-error [field]="form.get('price')"
               [label]="fieldOptions.price.label"
               [messages]="fieldOptions.price.validationMessage"></field-error>
</div>
<div [formGroup]="form" class="form-group form-check">
  <input [id]="fieldOptions.active.id" class="form-check-input" formControlName="active" name="active"
         type="checkbox">
  <label [for]="fieldOptions.active.id">Ativo?</label>
</div>
