<form (submit)="submit()">
  <modal (onHide)="hideModal($event)">
    <h5 modal-title>Nova Saida de Estoque</h5>
    <div modal-body>
      <card-error *ngIf="showErrors()">
        <list-error [errors]="errors"></list-error>
      </card-error>
      <product-output-form [form]="form"></product-output-form>
    </div>
    <div modal-footer>
      <button class="btn btn-secondary" data-dismiss="modal" type="button">Fechar</button>
      <button [disabled]="!form.valid" class="btn btn-success" type="submit">Incluir</button>
    </div>
  </modal>
</form>
