<div class="row">
  <h1>Listagem de entrada de estoque</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <button (click)="productInputInsertService.showModalInsert()" class="btn btn-success">Nova Entrada de Estoque
        </button>
      </td>
      <td colspan="4">
        <product-input-search-form (onSearch)="search($event)"></product-input-search-form>
      </td>
    </tr>
    <tr>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="id" style="width: 5%">Id</th>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="name" style="width: 70%">Nome</th>
      <th style="width: 15%">Quantidade</th>
      <th (onSort)="sort($event)" [sortColumn]="sortColumn" columnName="created_at" style="width: 10%">Criada em</th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let input of inputs | paginate: {itemsPerPage: 10, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{input.id}}</td>
      <td>{{input.product.name}}</td>
      <td>{{input.amount}}</td>
      <td>{{input.created_at.date | date: "dd/MM/yyyy"}}</td>
    </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"
                       nextLabel="Próxima"
                       previousLabel="Anterior">
  </pagination-controls>
</div>
<product-input-new-modal (onError)="productInputInsertService.onInsertError($event)"
                         (onSuccess)="productInputInsertService.onInsertSuccess($event)"></product-input-new-modal>
